{% extends "cassandra/layout.html" %} {% load static %} {% block body %}

<!-- <div class="about-img-container">
  <img id="about-img" src="{% static 'img/ck-img.png'%}" alt="ck-img" />
</div> -->
<div id="bio-div">
  <img id="hi-img" src="{% static 'img/hi.png'%}" alt="hi-img" />

  <p class="center" id="bio-p">
    graduating from umass amherst with a degree in applied mathematics, i have
    been drawn to critical thinking, probleming solving, and challenges my
    entire life. Wondering how I could express myself creatively while all the
    long feeding my technical passions, she discovered coding and the infinite
    possibilities it provides for innovation.
    <br />
    <br />
    I truly enjoy all stages of development and production, from configuring
    backend functionality to transforming a blank HTML page into something
    beautiful and user friendly.
  </p>
  <img id="xx-img" src="{% static 'img/xx.png'%}" alt="xx-img" />
</div>
<!-- <div id="who_view">
    <div id="more_div">
      <img id="cass" src="{% static 'img/natcass.png' %}" alt="cass" />
      <div id="more_info" class="center">
        <p id="more_info_header" class="header">a little more about her</p>
        <p id="more_info_p">
          <p>
          Graduating from UMass Amherst with a degree in Applied Mathemitcs,
          Cassandra has been drawn to critical thinking, probleming solving, and
          challenges her entire life. Wondering how she could express herself
          creatively while all the long feeding her technical passions, she
          discovered coding and the infinite possibilities it provides for
          innovation.
          <br />
          <br />
          Cassandra enjoys all stages of development and production, from
          configuring backend functionality to transforming a blank HTML page
          into something beautiful and user friendly.
        </p>
      </div>
    </div>
    <div id="contact" class="center">
      <p class="header">reach out to her</p>
      <p>
        email her at
        <a href="mailto:cvkornhiser@gmail.com" id="email"
          >ckornhiser@gmail.com</a
        >
        or message her on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://linkedin.com/in/ckornhiser"
          >linkedin</a
        >
      </p>
    </div>
  </div> -->

{% endblock %}
