{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    <h1 id="art_h1">artistic endeavors</h1>
   <div class="gallery">
    <div class="row">
        {% for image in art %}
        <div class="container_img">
        <a href="{% url 'show_art' id=image.id %}" data-message="{{image.id}}" class='art_img_btn'>
           
            <img class='art_img' src="{{image.art_image.url}}"></a>
                <!-- <div class="art_label">{{image.label}}</div> -->
        </div>
        {% endfor %}
    </div>
</div>
</div>

   <!-- <div id='sing_art_view'>
       <a href='#' id='back_btn'><img id="back" width='200' src="{% static 'cassandra/img/back.png' %}"alt="back"/></a>
       <div id='sing_art'></div> -->

{% endblock %}