{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}


    <div class="container">
        <div id="who_view">

            <div id="more_div">
                <img id="cass" src="{% static 'img/natcass.png' %}"alt="cass"/>
                <div id="more_info" class="center">
                    <p id="more_info_header" class="header">a little more about her</p>
                        <p id="more_info_p">
                            Graduating from UMass Amherst with a degree in Applied Mathemitcs, Cassandra has been drawn to critical thinking, probleming solving, and challenges her entire life.
                            Wondering how she could express herself creatively while all the long feeding her technical passions, she discovered coding and the infinite possibilities it provides for innovation.
                            <br>
                            <br>
                            Cassandra enjoys all stages of development and production, from configuring backend functionality to transforming a blank HTML page into something beautiful and user friendly.
                
                        </p>
                </div>
            </div>
            <div id="contact" class="center">
                <p class="header">reach out to her</p>
                    <p>email her at <a href="mailto:cvkornhiser@gmail.com" id='email'>ckornhiser@gmail.com</a> or message her on <a target="_blank" rel="noopener noreferrer"href="https://linkedin.com/in/ckornhiser">linkedin</a>
                    </p>
            </div>
        </div>
    </div>
{% endblock %}