{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}


    <div class="container">
        <div id="who_view">
            <div id="intro">
                <img id="who_is_she" class="center" src="{% static 'cassandra/img/whoisshe.png' %}"alt="whoisshe"/>
                   <p id="bio" class="center">creator<br> student of life<br> explorer</p> 
            </div>
            <hr>
            <div id="more_div">
                <img id="cass" src="{% static 'cassandra/img/natcass.png' %}"alt="cass"/>
                <div id="more_info" class="center">
                    <h1>a little more about her</h1>
                        <p> cassandra's passions range from experimenting with hair and makeup, to interior design, to listening and discussing all genres of music, to fitness and health, to artistic expression, to any kind of problem solving activity. she loves a good adventure whether something simple as going on a hike with friends or showing up to a foreign country with no plans.</p>
                </div>
            </div>
       
            <div id="contact">
                <h1>reach out to her</h1>
                    <p>email her at <a href="mailto:ckornhiser@gmail.com" id='email'>ckornhiser@gmail.com</a> or message her on <a target="_blank" rel="noopener noreferrer"href="https://linkedin.com/in/cassandra-kornhiser">linkedin</a>
                    </p>
            </div>
        </div>
    </div>
    
<!-- 
<div id="who_third"></div>
<img id="cass" src="{% static 'cassandra/img/natcass.png' %}"alt="cass"/>
<div id="who_fourth">
<h1 id="a_little">a little more about her</h1>
<p id="more"> cassandra's passions range from experimenting with hair and makeup, to interior design, to listening and discussing all genres of music, to fitness and health, to artistic expression, to any kind of problem solving activity. she loves a good adventure whether something simple as going on a hike with friends or showing up to a foreign country with no plans.
</p>
</div>
</div> --> 

<!-- <img id="chart" src="{% static 'cassandra/img/chart.png' %}"alt="chart"/>
<hr>
<h1 id="reach">reach out to her</h1>
<p id='contact'>
    email her at <a href="mailto:ckornhiser@gmail.com" id='email'>ckornhiser@gmail.com</a> or message her on <a target="_blank" rel="noopener noreferrer"href="https://linkedin.com/in/cassandra-kornhiser">linkedin</a>
</p>
</hr>
</div>
</div> -->




{% endblock %}