{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}

<div id="who_view">
    <div class="container">
        <div id="who_first">


<div id="who_second">
    <img id="whoisshe" src="{% static 'cassandra/img/whoisshe.png' %}"alt="whoisshe"/>
    <p id="bio">creator<br> student of life<br> explorer</p>
</div>
<hr>
<div id="who_third"></div>
<img id="cass" src="{% static 'cassandra/img/natcass.png' %}"alt="cass"/>
<div id="who_fourth">
<h1 id="a_little">a little more about her</h1>
<p id="more"> cassandra's passions range from experimenting with hair and makeup, to interior design, to listening and discussing all genres of music, to fitness and health, to artistic expression, to any kind of problem solving activity. she loves a good adventure whether something simple as going on a hike with friends or showing up to a foreign country with no plans.
</p>
</div>
</div>

<!-- <img id="chart" src="{% static 'cassandra/img/chart.png' %}"alt="chart"/> -->
<hr>
<h1 id="reach">reach out to her</h1>
<p id='contact'>
    email her at <a href="mailto:ckornhiser@gmail.com" id='email'>ckornhiser@gmail.com</a> or message her on <a target="_blank" rel="noopener noreferrer"href="https://linkedin.com/in/cassandra-kornhiser">linkedin</a>
</p>
</hr>
<img id="madebycass" src="{% static 'cassandra/img/madebycass.png' %}"alt="madebycasss"/>
</div>
</div>
<div id='art_view'>
 <!--  <img id="artistic" src="{% static 'cassandra/img/artistic.png' %}"alt="artistic"/>--> 
 <div><h1 id="art_title">artistic endeavors</h1>
 </div>
    <div class="gallery">
    {% for image in art %}
        <div>
    <a href='#' data-message="{{image.id}}" class='art_img_btn'><img class='art_img' src="{{image.art_image.url}}"></a>
    <div class="art_label">{{image.label}}</div>
</div>
    {% endfor %}
</div>
<img id="madebycass" src="{% static 'cassandra/img/madebycass.png' %}"alt="madebycasss"/>
</div>
<div id='sing_art_view'>
    <a href='#' id='back_btn'><img id="back" width='200' src="{% static 'cassandra/img/back.png' %}"alt="back"/></a>
    <div id='sing_art'></div>
    <img id="madebycass" src="{% static 'cassandra/img/madebycass.png' %}"alt="madebycasss"/>
</div>
<div id='nerd_view'>
    <div id="conatiner">
        <h1 id="current_title">current + recent</h1>
        <div id="project_p1">
    <p id='ux'>based on a prototype of an ethical investment app created over Spring 2020, here is <a id='behance'target="behance" href="https://www.behance.net/gallery/102604547/truVest">her version</a> of the presentation as well as the <a id='truVestOG'target="truVestOG" href="{% static 'cassandra/img/truvest.pdf' %}">original</a></p><br>
    <p id='check_out'>check out <a id='git'target="git" href="https://github.com/ckornhiser470">her github profile</a>, which includes a plant-based themed knock-off of instagram as well as the files of this website</p>
    </div>
    <h3 id='sneak'>sneak peak of app</h3>
    <hr id="video_hr">
    <video width="800" height="700" controls>
        <source src="{% static 'cassandra/img/planted_1.mov' %}" type="video/mp4">
        <source src="{% static 'cassandra/img/planted_1.ogg' %}" type="video/ogg">
      Your browser does not support the video tag.
      </video>
      </div>
        
    <h1 id="academic">academic</h1>
    <div id="academic_div">
<p class="academic_p">here's a <a target="braids" href="{% static 'cassandra/img/Braid_Groups_Paper.pdf' %}">paper</a> she wrote about braid groups</p>
<p class="academic_p"><a target="tumor_growth" href="{% static 'cassandra/img/Cancer_Tumor_Growth_Dynamics.pdf'%}">group paper</a> on developing a mathematcial modeling of tumor growth</p>
<p class="academic_p"><a target="ldm" href='http://fashion.ldminstitute.com/florence-trendforecasting/'>blog post </a> she wrote when in florence about street fashion</p>  
<img id="madebycass" src="{% static 'cassandra/img/madebycass.png' %}"alt="madebycasss"/>
    </div>
</div>


<div id="journal_view">
    <h1 id='journal_title'>streams of consciousness</h1>
    <hr>
    {% for entry in journal %}
    <div class="journal_entry">
        <div class="entry_label">{{entry.label}}</div>
        <a href='#'><img class='entry' src="{{entry.entry.url}}"></a>
    </div>
        {% endfor %}
        <img id="madebycass" src="{% static 'cassandra/img/madebycass.png' %}"alt="madebycasss"/>
</div>
{% endblock %}