{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}
<div id='sing_art_view'>
</div>
<div id="who_view">
    <img id="whoisshe" src="{% static 'cassandra/img/whoisshe.png' %}"alt="whoisshe"/>
<img id="cass" src="{% static 'cassandra/img/natcass.png' %}"alt="cass"/>
<p id="bio">artist, math hw enthusiatsic, hair braider extrodinare, </p>
<hr>
<img id="chart" src="{% static 'cassandra/img/chart.png' %}"alt="chart"/>
<div id='me'>
<h1>a little more about me</h1>
<p id="more">from early on in life, i never backed down. at age 7, i fought to play little league so i could impress my older brother,
at age 10, i started a law firm called 'Help,Law,&Co', and at 17 talked my way into an advanced weight training class (really did it because i wanted a prom date and fyi was successful ). i've never been afraid of myself or a challenge,
which i think is why i can often be described as an enigma. my passions range from doing my hair and makeup, to interior design, to listening and discussing music, to fitness and health, to artistic expression, to any kind of analytic/problem solving activity, to making anyone around me laugh. 
i set my mind on something and it's hard for me to deter. flaws? to be honest, it definitely comes down to self worth which is such a tough thing to attain a perfect balance of. too much and you lose your grounding,
too little and you automatically limit yourself. part of creating this website was to show off my skills in a way that a condensed resume and linkedin profile cannot. the other part is to affirm my worth to myself.
BALI AND ADVENTURE 
</p>
</div>
</div>

<div id='art_view'>
    <img id="artistic" src="{% static 'cassandra/img/artistic.png' %}"alt="artistic"/>
    <div class="gallery">
    {% for image in art %}
        <div>
    <a href='#' data-message="{{image.id}}" class='art_img_btn'><img class='art_img' src="{{image.art_image.url}}"></a>
    <div class="art_label">{{image.label}}</div>
</div>
    {% endfor %}
</div>
</div>


<div id='nerd_view'>
    <h1>HEADER</h1>
    <hr>

    <p>check out <a id='git'href="https://github.com/ckornhiser470">my github profile</a>, which includes a plant-based themed rip off of instagram as well as the files of this website</p>
    <h1>academic</h1>
<p>here's a paper i wrote about braid groups(pdf and laTex version)</p>
<p>group paper and presentation on developing mathematcial modeling of tumors</p>
    also maybe music interests and anaysis 
</div>
{% endblock %}