
{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div class="center" id= "natours_div">
        <h1>natours</h1>
    </div>
    <div class="center" id="natours_p">
        <img class="center" src="{% static 'cassandra/img/natours.png'%}" alt="natours_img"/>
        <div class="center">
        <p> Built using <span id="languages">Express, JS, Node.js,</span> and <span>MongoDB</span>, this application is the resulting project from a 40hr self-paced course completed December 2020
            <br>
            <br>
            Features include creating user profiles, browsing and booking tours, and completing payments using Stripe
            <br>
            <br>
            <span id='git'>Find all of the files <a target="git" href="https://github.com/ckornhiser470/natours"> on GitHub</a></span>
        </p>
        </div>
    </div>

</div>

{% endblock %}