
{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div id="test">
    <img class="center" id="natours_logo_header" src="{% static 'img/logo-green-round.png' %}" alt="natours_logo"/>
            <p class="header">natours</p>
    </div>

  
    <div class="center" id="natours_p">
        <img class="center" src="{% static 'img/natours.png'%}" alt="natours_img"/>
        <div class="center">
        <p> Built using <span id="languages">Express, JS, Node.js,</span> and <span>MongoDB</span>, this application is the resulting project from a 40hr self-paced course completed December 2020
            <br>
            <br>
            Features include creating user profiles, browsing and booking tours, and completing payments using Stripe
            <br>
            <br>
            <span id='git'>Check out the <a href="https://natours-by-cass.herokuapp.com/">deployed application</a> and all of the <a target="git" href="https://github.com/ckornhiser470/natours"> files</a></span>
        </p>
        </div>
    </div>

</div>

{% endblock %}