
{% extends "cassandra/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div class="center" id= "truvest_div">
        <h1>truvest</h1>
        <div id="truvest_p">
            <p>An ethical investment app prototype created over Spring 2020 in collaboration with three other young women.
                <br>
                <br>
                The intention of the platform was to educate users on investing and knowing where thier money was going, emphasizing accessibility and transparency.
             <br>
             <br>
             <span>
                <a id='behance'target="behance" href="https://www.behance.net/gallery/102604547/truVest">Cassandra's summarized version</a> of the presentation as well as the <a id='truVestOG'target="truVestOG" href="{% static 'cassandra/img/truvest.pdf' %}">original</a></p><br>
            </span>
            </p>
        </div>
    </div>
  

</div>

{% endblock %}