.body{
    padding-top: 400px;
    color: rgb(158, 158, 158);
    font-family: American Typewriter, serif;
    letter-spacing: 6px;
    font-size: x-large;
    line-height: 400%;
    background-image: url("/static/cassandra/img/watercolor_background.png");
    background-attachment: fixed;
    overflow-x: scroll;
    background-repeat: repeat;
}
#bio{
    margin-left: 580px;
    margin-right: 500px;
    padding-left: 300px;
    text-align: center;
    margin-top: -650px;
    width: 900px;
}

#art_view{
    display: none;
}

#logo{
    margin-bottom: 1px;
    z-index: 900000;
    width: 600px;
    opacity: 90%;
    position: fixed;
    margin-left: 1300px;
}

.navbar{
   background-color:  rgba(255, 182, 193, 0.801);
   background-image: url("/static/cassandra/img/watercolor.jpg")!important;
   border: transparent!important;
   padding-top: 120px !important;
   z-index: 7000000 !important;
   opacity: 70%;
   height: 200px !important;
}
.nav-link{
    color: whitesmoke!important;
    font-weight: lighter !important;
    font-size:medium !important;
    font-family: American Typewriter, serif;
    white-space: nowrap;
    letter-spacing: 6px;
    z-index: 88000000 !important;

}
.nav-item{
    padding-left:100px !important;
    padding-right: 100px;
    margin-left: 50px;
    z-index: 70000000 !important;

}
#whoisshe{
    width: 600px;
    margin-left: 850px;
    margin-right: 500px;
    margin-top: -50px;
    padding-top: 100px;
    margin-bottom: -50px;
}
.art_img{
    width:350px;
    height:400px;
    object-fit:cover;
    padding-left:40px;
    padding-right:10px;
    margin-right: 100px;
    margin-left: 100px;
}
.art_label{
    font-size: small;
    white-space: nowrap;
    font-family: American Typewriter, serif;
    font-weight: lighter;
    letter-spacing: 10px;  
    color:grey;
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
    opacity: .9;

    
}

.gallery {
    display: grid;
    grid-column-gap:5px;
    grid-template-columns: repeat(1000, 1fr)

}
.individual_art{
    margin-left: 500px;
    width: 500px;
    border: 5px solid rgba(255, 182, 193, 0.801) ;
    margin-top: -100px;
    padding: 30px;

}
#sing_art_view{
    display: block;
    margin-top: -100px;
}
.description{
    margin-left: 1100px;
    font-size: xx-large;
    max-width:500px;
    word-wrap:break-word;
    font-family: American Typewriter, serif;
    font-weight: lighter;
    color:grey;
    letter-spacing: 6px;
    opacity: 0.66; 
    padding:20px;


}
.indv_label{
    font-family: American Typewriter, serif; 
    color:rgb(170, 170, 170);
    letter-spacing: 20px;
    text-align: center;
    padding-bottom: 100px;
    opacity: 0.75; 
    font-weight: lighter;
    margin-top: -50px;
    letter-spacing: 25px;
}

#cass{
    width: 1000px;
    margin-left: -50px;
    margin-top: -250px;
}
#who_view{
    margin-top: -50px;
}
#chart{
    margin-left: 1300px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#artistic{
    width: 700px;
    margin-top: -260px;
    margin-bottom: 200px;
    margin-left: 50px;
    position: fixed;
    opacity: 0.69;
}
a{
    color: rgb(247, 133, 181);
}
#more{
    width: 1100px;
    margin-left: 200px;
    margin-right: 500px;
    font-size: large;
    line-height: 200%;
    margin-top: 100px;
    
}
#me{
    margin-top: -700px;
}
hr{
    margin-top: 100px;
    width: 3000px;
}

#projects{
    width: 1000px;
    margin-left: 80px;
    margin-top: -150px;
    margin-bottom: -50px;
    opacity: 0.85;

}
#proj{
    width: 1000px;
    margin-left: 600px;
}
#back{
    width: 300px;
    margin-left: 250px;
    margin-top: 50px;
}
#reach{
    margin-top: 100px;
    letter-spacing: 16px;
    margin-left: 100px;
}
#contact{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 75px;

}
.entry{
    width: 1000px;
}
.journal_entry{
    margin-top: 100px;
    margin-left: 500px;
}
#madebycass{
    width: 300px;
    margin-left: 50px;
    margin-top: 100px;
}
#journal_title, .entry_label, h1, h3{
    letter-spacing: 25px;
    font-weight: lighter;
    margin-left: 50px;
    opacity: 0.75;
}
#journal_title{
    margin-left: 100px;
    opacity: .5;
    letter-spacing: 35px;
    font-size: 200%;
}
#art_title{
    letter-spacing: 45px !important;
    opacity: 0.5;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-top: -150px;
}
p{
    letter-spacing: 10px;
    font-weight: lighter;
    margin-left: 50px;

}
.controls button {
    border:none;
    cursor:pointer;
    background:transparent;
    background-size:contain;
    background-repeat:no-repeat;
 }
 video{
    background: transparent !important;
    margin-bottom: 150px;
    margin-left: 50px;
    border: 5px solid lightsalmon;
 }
h3{
    color: rgb(255, 0, 106);
    font-weight: 400;
    letter-spacing: 35px;
    opacity: .5;
    margin-top: 100px;
    margin-bottom: 40px;

}
#academic{
    margin-left: 150px;
    color: lightpink;
    letter-spacing: 40px;
}
#academic_div{
    margin-left: 150px;
}
#current{
    color: lightpink;
    letter-spacing: 40px;
    margin-top: 80px;
    margin-left: -50px;
}
#projects{
    font-size: 250%;
    letter-spacing: 40px;
    opacity: .5;

}
.sing_art{
    margin-top: -200px;
}
#a_little{
    margin-left: 100px;
}
